.App {
  text-align: center;
}
/* .Tod{
  text-align: center;
} */
body{
  align-items: center;
  /* text-align: center; */
  margin-left: 40%;
  /* background-color: rgb(217, 176, 176); */
  background-image: linear-gradient(rgb(247, 116, 116),rgb(173, 173, 6),rgb(43, 154, 43),rgb(59, 57, 59));
  background-repeat: no-repeat;
  height: 700px;
  
}

